/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap'); */

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenSans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: 'Open Sans';
}
